@inject IConfiguration Configuration
@{
	ViewData["Title"] = "Additional Information";
	Layout = "~/Areas/AdminPanel/Views/Shared/_AdminLayout.cshtml";
	string baseUrl = Configuration["BaseUrlSettings:baseUrl"];
	string UIBaseUrlLayout = Configuration["UIBaseUrlSettings:baseUrl"];
	var uri = new Uri(baseUrl);
	string baseDomainUrl = $"{uri.Scheme}://{uri.Host}:{uri.Port}";
}
<style>
	



	#cropModal .modal-dialog {
		max-width: 600px; /* Optional: limit modal width */
	}

	#cropModal .modal-body {
		max-height: 70vh;
		overflow: auto;
	}

	#cropImagePreview {
		max-width: 100%;
		max-height: 60vh;
		display: block;
		margin: 0 auto;
	}

	

	.navbar-nav {
		justify-content: space-around;
		width: 100%;
	}

	
	.light-grey-bg {
		background-color: #f8f9fa; 
	}
	
</style>


<div id="grid-loader"
	 class="grid-loader justify-content-center align-items-center flex-column"
	 style="display: none; position: fixed; top: 0; left: 0; width: 100vw; height: 100vh;
            background: rgba(255, 255, 255, 0.6); backdrop-filter: blur(3px); z-index: 9999;">

	<img src="@baseDomainUrl/loders/loder.png"
		 class="grid-logo-spinner"
		 style="width: 40px; height: 40px; animation: spin 1s linear infinite;" />

	<div class="grid-loading-text text-dark " style="font-size: 16px;">Loading...</div>
</div>

<div class="card" id="employeeDetailsCard">

	<div class="card-header bg-primary text-white">
		<div class="d-flex justify-content-between align-items-center">
			<!-- Left: Title -->
			<div>
				<h5 class="mb-0">Employee Details</h5>
			</div>

			@* <div class="mx-3 flex-grow-1 d-flex justify-content-center">
				<label for="searchBox" class=" mt-1 text-dark">Search:&nbsp;&nbsp;</label>
				<input type="text" class="form-control" placeholder="Employee Code or Name" id="searchBox" style="width: 30%; height: 30px;" />
			</div> *@

			<!-- Right: Back Arrow -->
			<div>
				<i class="fas fa-arrow-circle-left cursor-pointer text-dark" id="backArrow"></i>

			</div>
		</div>
	</div>


	<div class="card-body" style="font-size:12px;">
		
		<div class="row mt-2">
			<!-- Left Side: Form Data -->
			<div class="col-md-8">
				
				
				<div class="card-body" id="editSectionEmoplyee" >
					<form id="employeeForm">
						<div class="row">

							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="initialWrapper">
										<label for="ddlInitial">Initial <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="ddlInitial" readonly>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search initial..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnInitial" style="color:red; display:none;">Please Select Initial</span>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group mt-3 position-relative">
									<input type="text" class="form-control floating-input" id="txtFirstName" placeholder="First Name">
									<label class="floating-label" for="txtFirstName">First Name<span class="required-star">*</span></label>
								</div>
								<span id="spnFirstName" style="color:red; display:none;">Please Enter First Name</span>
							</div>
							<div class="col-md-4">
								<div class="form-group mt-3 position-relative">
									<input type="text" class="form-control floating-input" id="txtMiddleName" placeholder="Middle Name">
									<label class="floating-label" for="txtMiddleName">Middle Name</label>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">
								<div class="form-group mt-3 position-relative">
									<input type="text" class="form-control floating-input" id="txtLastName" placeholder="Last Name">
									<label class="floating-label" for="txtLastName">Last Name</label>
								</div>
							</div>
							<div class="col-md-4">
								<div class="row">
									<div class="col-md-4">
										<div class="form-group mt-3 position-relative">
											Emp Code<span class="required-star">*</span>:
										</div>
									</div>
									<div class="col-md-4 p-0" id="tagtxtEmpCode" style="display:none;">
										<div class="form-group mt-3 position-relative">
											<input type="text" class="form-control floating-input" readonly id="txtEmpCode" placeholder="HRMS" value="">
										</div>
									</div>
									<div class="col-md-4">
										<div class="form-group mt-3 position-relative">
											<input type="text" class="form-control floating-input" id="txtNumberEmpCode" placeholder="0001" value="">
										</div>
									</div>
									<span id="spnStringCode" style="color:red; display:none;">Please Enter String Code</span>
									<span id="spnNumberCode" style="color:red; display:none;">Please Enter Employee Code</span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group mt-3 position-relative">
									<input type="date" class="form-control floating-input" id="doj" placeholder=" ">
									<label class="floating-label" for="doj">Date of Joining<span class="required-star">*</span></label>
								</div>
								<span id="spnDoj" style="color:red; display:none;">Please Select Date Of Joining</span>
							</div>
						</div>
						<div class="row">
							<!-- Updated Branch Select -->
							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="branchWrapper">
										<label for="ddlBranch">Branch <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="ddlBranch" readonly>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search branch..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnBranch" style="color:red; display:none;">Please Select Branch</span>
								</div>
							</div>

							<!-- Updated Grade Select -->
							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="gradeWrapper">
										<label for="ddlGrade">Grade <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="ddlGrade" readonly disabled>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search grade..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnGrade" style="color:red; display:none;">Please Select Grade</span>
								</div>
							</div>

							<!-- Updated Shift Select -->
							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="shiftWrapper">
										<label for="ddlShift">Shift <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="ddlShift" readonly>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search shift..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnShift" style="color:red; display:none;">Please Select Shift</span>
								</div>
							</div>
						</div>

						<div class="row">
							<!-- Updated Designation Select -->
							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="designationWrapper">
										<label for="ddlDesignation">Designation <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="ddlDesignation" readonly>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search designation..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnDesignation" style="color:red; display:none;">Please Select Designation</span>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group mt-3 position-relative">
									<input type="text" class="form-control  data-decimal floating-input" id="txtGrossSalary" placeholder="Gross Salary " step="1" min="0" oninput="this.value = this.value.replace(/[^0-9]/g, '')">
									<label class="floating-label" for="txtGrossSalary">Gross Salary<span class="required-star">*</span> </label>
								</div>
								<span id="spnGrossSalary" style="color:red; display:none;">Please Enter GrossSalary</span>

							</div>

							<div class="col-md-4">
								<div class="form-group mt-3 position-relative">
									<input type="text" data-decimal class="form-control floating-input" id="txtBasicSalary" placeholder="Basic Salary">
									<label class="floating-label" for="txtBasicSalary">Basic Salary</label>
								</div>
								<span id="spnBasicSalary" style="color:red; display:none;">Please Enter Basic Salary</span>
							</div>

							<!-- Updated Category Select -->
							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="categoryWrapper">
										<label for="ddlCategory">Category <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="ddlCategory" readonly>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search category..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnCategory" style="color:red; display:none;">Please Select Category</span>
								</div>
							</div>

							<!-- Updated Department Select (already in your code) -->
							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="departmentWrapper">
										<label for="ddlDepartment">Department <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="ddlDepartment" readonly>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search department..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnDepartment" style="color:red; display:none;">Please Select Department</span>
								</div>
							</div>

							<!-- Updated Employee Type Select -->
							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="empTypeWrapper">
										<label for="ddlEmpType">Employee Type <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="ddlEmpType" readonly>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search employee type..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnEmployeeType" style="color:red; display:none;">Please Select Employee Type</span>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group mt-3 position-relative">
									<input type="date" class="form-control floating-input" id="dob" placeholder=" ">
									<label class="floating-label" for="dob">Date of Birth<span class="required-star">*</span></label>
								</div>
								<span id="spnBirth" style="color:red; display:none;">Please Select Date Of Birth</span>
							</div>

							<!-- Updated Role Select -->
							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="roleWrapper">
										<label for="ddlRole">Role <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="ddlRole" readonly>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search role..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnRole" style="color:red; display:none;">Please select Role</span>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group mt-3">
									<div class="input-group">
										<input type="text" class="form-control floating-input w-50" id="txtLoginAlias" placeholder="Login Alias">
										<span class="input-group-text p-0 w-50" id="txtDomainName"
											  style="white-space: nowrap;
                                             overflow: hidden;
                                             text-overflow: ellipsis;
                                             display: inline-block;
                                             padding: 6px 10px;">
										</span>
									</div>
									<span id="spnLoginAlias" style="color:red; display:none;">Please Enter Login Alias</span>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group mt-3 position-relative">
									<input type="password" class="form-control floating-input" id="txtPassword" disabled value="Relay@@123" placeholder="Password" style="padding-right: 40px;">
									<label class="floating-label" for="txtPassword">Password <span class="required-star">*</span></label>
									<i id="togglePassword" class='bx bx-show'
									   style="position: absolute; top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer; font-size: 1.2rem; color: #666;">
									</i>
								</div>
								<span id="spnPassword" style="color:red; display:none;">Please Enter Password</span>
								<span id="spnPasswordError" style="color:red; display:none;">Please Enter Valid Password</span>
							</div>


							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="weekOffWrapper">
										<label for="ddlWeekOfAssign">WeekOff Assign <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="ddlWeekOfAssign" readonly>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search WeekOff..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnWeekOff" style="color:red; display:none;">Please Enter Week Off</span>
								</div>
							</div>

							<!-- Updated Reporting Manager Select -->
							<div class="col-md-4">
								<div class="mt-3 form-floating-custom">
									<div class="searchable-select-wrapper" id="reportingWrapper">
										<label for="drpReporting">Reporting Manager <span class="text-danger">*</span></label>
										<input type="text" class="searchable-select-input" id="drpReporting" readonly>
										<span class="searchable-select-arrow">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
												<path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z" />
											</svg>
										</span>
										<div class="searchable-select-dropdown">
											<div class="searchable-select-search">
												<input type="text" placeholder="Search reporting manager..." class="search-input">
											</div>
											<div class="searchable-select-options"></div>
										</div>
									</div>
									<span id="spnReporting" style="color:red; display:none;">Please Select Reporting Manager</span>
								</div>
							</div>

							<div class="col-md-2">
								<div class="form-check mt-4">
									<input class="form-check-input" type="checkbox" id="pt" checked>
									<label class="form-check-label" for="pt">PT</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-check mt-4">
									<input class="form-check-input" type="checkbox" id="checkInOut">
									<label class="form-check-label" for="checkInOut">Punch In Out</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-check mt-4">
									<input class="form-check-input" checked type="checkbox" id="isPFApplicable">
									<label class="form-check-label" for="isPFApplicable">Is PF Applicable</label>
								</div>
							</div>
							<div class="col-md-2">
								<div class="form-check mt-4">
									<input class="form-check-input" type="checkbox" id="probation">
									<label class="form-check-label" for="probation">Probation</label>
								</div>
							</div>

							<div class="col-md-4">
								<div class="form-group mt-3 position-relative">
									<input type="number" class="form-control floating-input" id="txtAttendanceLimit" placeholder="Attendance Limit" min="0" step="1">
									<label class="floating-label" for="txtAttendanceLimit">Attendance Limit<span class="required-star">*</span></label>
								</div>
								<span id="spnAttendanceLimit" style="color:red; display:none;">Please Enter Attendance Limit</span>
							</div>
						</div>
						<div class="row mt-3">
							<div class="col-md-2"></div>
							<div class="col-md-8 text-center">
								<button type="button" class="btn btn-dark px-5 m-2 " id="btnBackEmployee">Back</button>					
								<button type="button" id="btnUpdateEmployee" class="btn px-5" style="background-color:#2395c6 !important; color:white !important;">
									Update
								</button>
								<button type="button" class="btn px-5" style="background-color:#2395c6 !important; color:white !important;display:none;" disabled id="btnUpdatingEmployee">
									<span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
									Updating...
								</button>
							</div>
							<div class="col-md-2"></div>
						</div>
					</form>
			     </div>
				

			</div>

		
			<div class="col-md-4">

				<!-- PHOTO Upload -->
				<div class="mb-4 text-center">
					<label>Profile Picture</label><br>

					<img id="profileImage"
						 src="@baseDomainUrl/uploads/defaultuserprofile/user-profile-png-image.png"
						 alt="Profile Image"
						 style="width: 200px; height: 150px; cursor: pointer;border:1px solid grey;" />

					<input type="file" id="profileInput" accept="image/jpeg" class="d-none" />

				
				</div>

				
				<!-- Upload button -->
				<div class="text-center mt-4">
					<div id="uploadBtnTag" class="mt-2" style="display: none;">
						<button type="button" class="btn btn-primary" id="btnUpload" style="background-color:#2395c6; color:white;">
							Upload
						</button>
					</div>
				</div>

			</div>

		</div>

		<div class="row">
			<div class="col-md-12  py-2">
				<div class="d-flex justify-content-between">
					@* <span><strong>Profile Last Updated By:</strong><span id="createdBy"></span>
						<span id="lastUpdatedBy"></span>
				     </span> *@
					@* <span class="text-danger cursor-pointer " id="viewEmployeeHistroy">
						<i class="fas fa-history"></i> View Employee History
					</span> *@
				</div>
			</div>
		</div>

	</div>
</div>


<!-- Modal HTML -->
<div class="modal" id="cropModal" tabindex="-1" aria-labelledby="cropModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="cropModalLabel">Crop Profile Image</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<img id="cropImagePreview" src="" alt="Image preview" class="img-fluid">
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary" id="cropConfirmBtn">Confirm Crop</button>
			</div>
		</div>
	</div>
</div>

<!--Addition menu-->
	<div class="card shadow mt-3 ">
		<div class="card-body p-0">
		<nav class="navbar navbar-expand-lg navbar-light bg-light rounded-top addition-menu">
				<div class="container-fluid">
					<div class="collapse navbar-collapse show" id="navbarTabsOnly">
						<ul class="navbar-nav d-flex flex-wrap text-center">
							<li class="nav-item">
								<a class="nav-link active" href="#">
									<i class="fas fa-id-card"></i>
									Employee Personal Info
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link " href="#">
									<i class="fas fa-phone-alt"></i>
									Contact
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-user-shield"></i>
									Emergency Contact(s)
								</a>
							</li>
							
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-briefcase"></i>
									Reporting & Contract
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-paperclip"></i>
									Attachments
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-money-bill-wave"></i>
									Allowance
								</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">
									<i class="fas fa-coins"></i>
									Salary
								</a>
							</li>
						</ul>
					</div>
				</div>
			</nav>

		</div>
	<div id="partialViewContainer">
		<div id="EmployeePersonalInfo" class="partial-section"></div>
		<div id="Contact" class="partial-section d-none"></div>
		<div id="EmergencyContacts" class="partial-section d-none"></div>
		<div id="ReportingContract" class="partial-section d-none"></div>
		<div id="Attachments" class="partial-section d-none"></div>
		<div id="Allowance" class="partial-section d-none"></div>
		<div id="Salary" class="partial-section d-none"></div>
	</div>


	</div>

<script src="~/assets/js/jquery.min.js"></script>
<!-- CropperJS CSS & JS -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.13/cropper.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<script>
			let employeeList = [];
			let UserId=localStorage.getItem('EmployeeId');
			let CurrentEmployeeId=localStorage.getItem('CurrentEmployeeId');
			const savedCompany = localStorage.getItem('selectedCompany');
			var companyDetails = JSON.parse(savedCompany);

			const CurrentCompanyId=companyDetails.CompanyId;
			const Token=localStorage.getItem("authToken");

			var EmployeeProfileUrl="";
			var EmployeeSignatureUrl="";

			$(document).ready(function(){
				if (!CurrentCompanyId) {
					round_error_noti("Please select company");
					return;
				}
				bindInitial();
				bindWeekOff();
			  loadEmployeeRecords();
			});


			$('#txtGrossSalary , #txtBasicSalary').blur(async function () {
				await GetGradeBySalaryRange();

			});

			async function GetGradeBySalaryRange() {
                var grossSalary = $('#txtGrossSalary').val();
				if(!grossSalary){
					return;
				}
				var basicSalary = $('#txtBasicSalary').val();
				var isPFApplicable = $('#isPFApplicable').is(':checked');
				if (basicSalary == null || basicSalary === '') {
					basicSalary = 0;
				}
				var parameter={
					CompanyId:CurrentCompanyId,
					IsPFApplicable: isPFApplicable,
					GrossSalary: grossSalary,
					BasicSalary: basicSalary
				}
				
				try {
					const response = await new Promise((resolve, reject) => {
						$.ajax({
							url: '@baseUrl/EmployeeMasterAPI/GetGradeBySalaryRange' ,
							method: 'POST',
							contentType: 'application/json',
							  data: JSON.stringify(parameter),
							success: function(response) {
								resolve(response);
							},
							error: function(error) {
								reject(error);
							}
						});
					});

					if (response.isSuccess) {
						$('#ddlGrade').data('searchableSelect').setValue(response.data.GradeId );

					} 
					
					
				} catch (error) {
					console.error('Error fetching data:', error);
				}
			}


	
			async function loadEmployeeRecords() {
				showLoder();
				var parameter={
					CompanyId:CurrentCompanyId,
					EmployeeId:CurrentEmployeeId
				}
				try {
					const response = await new Promise((resolve, reject) => {
						$.ajax({
							url: '@baseUrl/EmployeeMasterAPI/GetRecordsForUpdate' ,
							method: 'POST',
							contentType: 'application/json',
							  data: JSON.stringify(parameter),
							success: function(response) {
								resolve(response);
							},
							error: function(error) {
								reject(error);
							}
						});
					});

					if (response.isSuccess) {
						
						bindBranch(response.data.branches);
						bindCategory(response.data.categories);
						bindDesignation(response.data.designations);
						bindReporting(response.data.reportingEmployees);
						bindDepartment(response.data.departments);
						bindGrade(response.data.grades);
						bindRole(response.data.roles);
						bindEmployeeType(response.data.employeeTypes);
						bindShift(response.data.shifts);						
						fillEmployeeForm(response.data.employees);
				
					} else {
						round_error_noti(response.responseMessage);
						setTimeout(function() {
							window.location.href = "@UIBaseUrlLayout/AdminPanel/EmployeeMaster/EmployeeMaster";
						}, 1000);

					}
					hideLoder();
				} catch (error) {
					hideLoder();
					console.error('Error fetching data:', error);
				} finally {
					hideLoder();
				}
			}



			 function bindInitial()
			 {
				 var data=
				 [
				  {"initial":"Mr."},
				  {"initial":"Mrs."},
				  {"initial":"Ms."}
				 ]
					$('#ddlInitial').searchableSelect({
					  data: data||[],
						valueKey: 'initial',
						textKey: 'initial',
						placeholder:'Initial',
						searchPlaceholder: 'Search initial...',
					  onChange: function(item) {

					  }
				  });
			 }

		   function bindBranch(data)
		   {
				 $('#ddlBranch').searchableSelect({
					data: data||[],
					valueKey: 'branchId',
					textKey: 'branchName',
					placeholder:'Branch',
					searchPlaceholder: 'Search branch...',
					onChange: function(item) {
						  LoadWeekOffMaster();
					}
				});

		   }

		   function bindDesignation(data)
		   {
				$('#ddlDesignation').searchableSelect({
					data: data||[],
					valueKey: 'designationId',
					textKey: 'designationName',
					placeholder:'Designation',
					searchPlaceholder: 'Search designation...',
					onChange: function(item) {

					}
				});
		   }

		   function bindCategory(data){

				 $('#ddlCategory').searchableSelect({
					data: data||[],
					valueKey: 'categoryId',
					textKey: 'categoryName',
					placeholder:'Category',
					searchPlaceholder: 'Search category...',
					onChange: function(item) {

					}
				 });
		   }

			async function bindReporting(data)
			{
				$('#drpReporting').searchableSelect({
					data: data||[],
					valueKey: 'employeeId',
					textKey: 'employeeName',
					placeholder:'Reporting Manager',
					searchPlaceholder: 'Search reporting...',
					onChange: function(item) {

					}
				 });
			}

			async  function bindDepartment(data)
			{

				$('#ddlDepartment').searchableSelect({
					data: data||[],
					valueKey: 'departmentId',
					textKey: 'departmentName',
					placeholder:'Department',
					searchPlaceholder: 'Search department...',
					onChange: function(item) {

					}
				});
			}

		async function bindGrade(data)
		{
			 $('#ddlGrade').searchableSelect({
					data: data||[],
					valueKey: 'gradeId',
					textKey: 'gradeName',
					placeholder:'Grade',
					searchPlaceholder: 'Search grade...',
					onChange: function(item) {

					}
			  });
		}

		async function bindRole(data)
		{
				$('#ddlRole').searchableSelect({
					data: data||[],
					valueKey: 'roleId',
					textKey: 'roleName',
					placeholder:'Role',
					searchPlaceholder: 'Search role...',
					onChange: function(item) {

					}
			   });
		}

		async function bindEmployeeType(data)
		{
			$('#ddlEmpType').searchableSelect({
				data: data||[],
				valueKey: 'employeeTypeId',
				textKey: 'employeeTypeName',
				placeholder:'EmployeeType',
				searchPlaceholder: 'Search employee type...',
				onChange: function(item) {
					
					if(item.employeeTypeName === "Probation") {
					  $("#probation").prop('checked', true);
				  } else {
					  $("#probation").prop('checked', false);
				  }
				}
			 });
		}

		async function bindShift(data)
		{

			 $('#ddlShift').searchableSelect({
				data: data||[],
				valueKey: 'shiftId',
				textKey: 'shiftName',
				placeholder:'Shift',
				searchPlaceholder: 'Search shift...',
				onChange: function(item) {

				}
			  });

		}
		  async function bindWeekOff()
		{

			   $('#ddlWeekOfAssign').searchableSelect({
					data: [],
					valueKey: 'weekOffDetailsId',
					textKey: 'weekOffName',
					placeholder:'WeekOff Name',
					searchPlaceholder: 'Search weekOff...',
					onChange: function(item) {

					}
				});

		}


	 async function LoadWeekOffMaster() {
		return new Promise((resolve, reject) => {
			let branchId = $('#ddlBranch').data('searchableSelect')?.getValue();

			// Validation
			if (!branchId) {
				round_error_noti("Please select branch first!");
				reject("Branch not selected");
				return;
			}

			var data = {
				branchId: branchId,
				CompanyId: CurrentCompanyId
			};

			$.ajax({
				url: '@baseUrl/WeekOffMasterAPI/GetAllWeekOffDetails',
				type: "POST",
				contentType: 'application/json',
				data: JSON.stringify(data),
				success: function (res) {
					const dropdownddlWeekOfAssign = $('#ddlWeekOfAssign').data('searchableSelect');
					if (dropdownddlWeekOfAssign) {
						dropdownddlWeekOfAssign.setData(res.data);
					}
					resolve(res); // ✅ Promise resolved with response
				},
				error: function (xhr, status, error) {
					round_error_noti("Failed to fetch week off data.");
					reject(error); // ❌ Promise rejected with error
				}
			});
		});
	}



		$("#backArrow,#btnBackEmployee").click(function(){
			window.location.href = '@UIBaseUrlLayout/AdminPanel/EmployeeMaster/EmployeeMaster';
		});

	function showBtnLoder()
	{
		$('#btnUpdateEmployee').hide();
			$('#btnUpdatingEmployee').show();
	}
	function hideBtnLoder()
	{
		$('#btnUpdateEmployee').show();
			$('#btnUpdatingEmployee').hide();
	}

	// $('#ddlEmpType').change(function() {
	// 	var selectedText = $(this).find('option:selected').text().toLowerCase();

	// 	if(selectedText === "probation") {
	// 		$("#probation").prop('checked', true);
	// 	} else {
	// 		$("#probation").prop('checked', false);
	// 	}
	// });


	function formatDate(isoDateStr) {
			if (!isoDateStr) return '';
	  return isoDateStr.split('T')[0];
	}

	async function showLoder(){
	  $('#grid-loader').addClass('d-flex').show();
	}
	async function hideLoder(){
			$('#grid-loader').removeClass('d-flex').hide();
	}

	$('#txtLoginAlias').on('input', function () {
			var inputVal = $(this).val();
			var domain = $('#txtDomainName').text().trim();

			if (inputVal.includes('@@')) {
				round_error_noti(`The domain "${domain}" is already added.`);

				// Optionally remove the '@@' from the input
				$(this).val(inputVal.replace('@@', ''));
			}
	});

	$('#togglePassword').click(function() {
		let passwordInput = $('#txtPassword');
		let type = passwordInput.attr('type') === 'password' ? 'text' : 'password';
		passwordInput.attr('type', type);

		// Toggle icon class
		$(this).toggleClass('bx-show bx-hide');
	});

	  function findIndexById(idToFind) {

		  const index = employeeList.findIndex(function(obj) {
			  return obj.id == idToFind; // Using == to allow type coercion
		  });

		  return index;
	  }

	async function getAgeFromDOB(dob) {
			  const birthDate = new Date(dob);
			  const today = new Date();

			  let years = today.getFullYear() - birthDate.getFullYear();
			  let months = today.getMonth() - birthDate.getMonth();
			  const days = today.getDate() - birthDate.getDate();

			  if (days < 0) {
				  months--;
			  }

			  if (months < 0) {
				  years--;
				  months += 12;
			  }

			  return { years, months };
		  }


	  // Sample fill function
	  async function fillEmployeeForm(employee) {
		  console.log('employee' ,employee);
		  // Set values into form fields, handling null or undefined values directly
		  $('#EmployeeId').val(employee.id || '');
		  CurrentEmployeeId = employee.id || '';
		  // Personal Information
			   $('#createdBy').text(employee.createdByName || '');
		  //$('#ddlInitial').val(employee.initial || '');
		  $('#ddlInitial').data('searchableSelect').setValue(employee.initial);
		  $('#txtFirstName').val(employee.firstName || '');
		  $('#txtMiddleName').val(employee.middleName || '');
		  $('#txtLastName').val(employee.lastName || '');
		   if(employee.alfaCode){
		   $('#tagtxtEmpCode').show();
			$('#txtEmpCode').val(employee.alfaCode || '');
		  }
		  $('#txtNumberEmpCode').val(employee.employeeCode || '');
		  $('#doj').val(formatDate(employee.dateOfJoining) || '');
		  $('#ddlBranch').data('searchableSelect').setValue(employee.branchId );
		  $('#ddlGrade').data('searchableSelect').setValue(employee.gradeId );
		  $('#ddlShift').data('searchableSelect').setValue(employee.shiftMasterId );
		  $('#ddlShift').data('searchableSelect').setValue(employee.shiftMasterId );
		  $('#ddlDesignation').data('searchableSelect').setValue(employee.designationId );

		  await LoadWeekOffMaster();
		
		  $('#txtCTC').val(employee.ctc || '');
		  $('#txtGrossSalary').val(employee.grossSalary || '');
	      $('#txtBasicSalary').val(employee.basicSalary || '');			 
		  $('#ddlCategory').data('searchableSelect').setValue(employee.categoryId );
		  $('#ddlDepartment').data('searchableSelect').setValue(employee.departmentId );
		  $('#ddlEmpType').data('searchableSelect').setValue(employee.employeeTypeId );		 
		  $('#dob').val(formatDate(employee.dateOfBirth) || '');
		  $('#ddlRole').data('searchableSelect').setValue(employee.roleId );		
		  $('#drpReporting').data('searchableSelect').setValue(employee.reportingManagerId );

		  // Checkboxes
		  $('#pt').prop('checked', employee.pt || false);
		  $('#checkInOut').prop('checked', employee.isPermissionPunchInOut || false);
		  $('#chkSameAs').prop('checked', employee.sameAsPresentAddress || false);
		   $('#isPFApplicable').prop('checked', employee.isPFApplicable || false);
		   $('#probation').prop('checked', employee.probation || false);		
		   $('#ddlWeekOfAssign').data('searchableSelect').setValue(employee.weekOffDetailsId );
		  $('#txtAttendanceLimit').val(employee.attendanceLimit !== null && employee.attendanceLimit !== undefined ? employee.attendanceLimit : '');

		  // Other fields
		 
		  // Login Alias
		  if (employee.loginAlias) {
			  const parts = employee.loginAlias.split('@@');
			  $('#txtLoginAlias').val(parts[0] || '');
			  $('#txtDomainName').text(parts[1] ? '@@' + parts[1] : '');
		  }


		 

		  // Profile and Signature Images
		  if (employee.employeeProfileUrl) {
			  $('#profileImage').attr('src', employee.employeeProfileUrl);
			  $('.profileImage').attr('src', employee.employeeProfileUrl);
			  EmployeeProfileUrl = employee.employeeProfileUrl;

		  } else {
			  $('#profileImage').attr('src', '@baseDomainUrl/uploads/defaultuserprofile/user-profile-png-image.png');
		  }

					  hideLoder();

	  }

	   function convertToDecimal(value) {
			let decimalValue = parseFloat(value);
			return isNaN(decimalValue) ? 0 : decimalValue;
		}
	  $('#btnUpdateEmployee').click(async function() {
		  showBtnLoder();
			// Capture form values in variables
			var initial = $('#ddlInitial').data('searchableSelect').getValue();;
			var firstName = $('#txtFirstName').val().trim();
			var middleName = $('#txtMiddleName').val().trim();
			var lastName = $('#txtLastName').val().trim();
			var employeeStringCode = $('#txtEmpCode').val(); // Assuming the first input is for EmployeeStringCode
			var employeeNumberCode = $('#txtNumberEmpCode').val(); // Assuming the second input is for EmployeeNumberCode
			var dateOfJoining = $('#doj').val();
			var branch = $('#ddlBranch').data('searchableSelect').getValue();
			var grade = $('#ddlGrade').data('searchableSelect').getValue();
			var shift = $('#ddlShift').data('searchableSelect').getValue();
			var ctc = null;
			var designation = $('#ddlDesignation').data('searchableSelect').getValue();
			var grossSalary = $('#txtGrossSalary').val().trim();
			var category = $('#ddlCategory').data('searchableSelect').getValue();
			 var basicSalary = $('#txtBasicSalary').val();
			var department = $('#ddlDepartment').data('searchableSelect').getValue();
			var employeeType = $('#ddlEmpType').data('searchableSelect').getValue();
			var dateOfBirth = $('#dob').val();
			var RoleId = $('#ddlRole').data('searchableSelect').getValue();
			var loginAlias = $('#txtLoginAlias').val().trim();
			//var password = $('#txtPassword').val().trim();
			var domainName = $('#txtDomainName').text().trim();
			var weekOfAssignId = $('#ddlWeekOfAssign').data('searchableSelect').getValue();
			var pt = $('#pt').is(':checked');
			var checkInOut = $('#checkInOut').is(':checked');
			 var patternPassword = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{8,}$/;
			var reportingManager=$('#drpReporting').data('searchableSelect').getValue();
		    var isPFApplicable = $('#isPFApplicable').is(':checked');
		    var probation = $('#probation').is(':checked');
			 var attendanceLimit = $('#txtAttendanceLimit').val().trim();
			var Company = CurrentCompanyId;;
				
						  
				// Validate required fields
			   var isValid = true;

				if (!initial) {
					$('#spnInitial').show();
					isValid = false;
				}
				else{
					$('#spnInitial').hide();
				}

				if (!firstName) {
					$('#spnFirstName').show();
					isValid = false;
				}
				else{
					$('#spnFirstName').hide();
				}

					 if (!spnNumberCode) {
							  $('#spnNumberCode').show();
							  isValid = false;
					}
					else{
						$('#spnNumberCode').hide();
					}
				if (!dateOfJoining) {
					$('#spnDoj').show();
					isValid = false;
				}
				else{
					$('#spnDoj').hide();
				}
				if (!branch) {
					$('#spnBranch').show();
					isValid = false;
				}
				else{
					$('#spnBranch').hide();
				}
				if (!grade) {
					$('#spnGrade').show();
					isValid = false;
				}
				else{
					$('#spnGrade').hide();
				}
				if (!shift) {
					$('#spnShift').show();
					isValid = false;
				}
				else{
					$('#spnShift').hide();
				}
				if (!designation) {
					$('#spnDesignation').show();
					isValid = false;
				}
				else{
					$('#spnDesignation').hide();
				}

				if (!grossSalary) {
					$('#spnGrossSalary').show();
					isValid = false;
				}
				else{
					$('#spnGrossSalary').hide();
				}
				if (!basicSalary) {
					$('#spnBasicSalary').show();
					isValid = false;
				}
				else{
					$('#spnBasicSalary').hide();
				}
				if (!category) {
					$('#spnCategory').show();
					isValid = false;
				}
				else{
					$('#spnCategory').hide();
				}
				if (!department) {
					$('#spnDepartment').show();
					isValid = false;
				}
				else{
					$('#spnDepartment').hide();
				}
				if (!employeeType) {
					$('#spnEmployeeType').show();
					isValid = false;
				}
				else{
					$('#spnEmployeeType').hide();
				}
				if (!dateOfBirth) {
					$('#spnBirth').show();
					isValid = false;
				}
				else{
					$('#spnBirth').hide();
				}
				if (!RoleId) {
					$('#spnRole').show();
					isValid = false;
				}
				else{
					$('#spnRole').hide();
				}


				if (!loginAlias) {
					$('#spnLoginAlias').show();
					isValid = false;
				}else{
					$('#spnLoginAlias').hide();
				}

				
				if (!weekOfAssignId) {
					$('#spnWeekOff').show();
					isValid = false;
				}else{
					$('#spnWeekOff').hide();
				}
				if (!reportingManager) {
					$('#spnReporting').show();
					isValid = false;
				}else{
						$('#spnReporting').hide();
				}
				  if (!attendanceLimit) {
						$('#spnAttendanceLimit').show();
						isValid = false;
					} else {
						$('#spnAttendanceLimit').hide();
					}
				//  if (probation)
				//  {
				// 	if(!probationCompletionPeriod)
				// 	{
				// 			$('#spnProbationCompletionPeriod').show();
				// 		isValid = false;
				// 	}
				// 	else
				// 	{
				// 				$('#spnProbationCompletionPeriod').hide();
				// 	}

				// 	if(!$('#ddlManagerProbation').val())
				// 	{
				// 			 $('#spnddlManagerProbation').show();
				// 		  isValid = false;
				// 	}
				// 	else
				// 	{
				// 			$('#spnddlManagerProbation').hide();
				// 	}

				// }else{
				// 		$('#spnddlManagerProbation').hide();
				// 			$('#spnProbationCompletionPeriod').hide();
				// }

				if (!isValid) {
				  hideBtnLoder();
					return;
				}
				const setNullIfEmpty = (value) => {
					return value === "" ? null : value;
				};


			// Create employeeData object
					var employeeData = {
						Id:CurrentEmployeeId,
						CompanyId:Company===""?null:Company,
						Initial: initial === "" ? null : initial,
						FirstName: firstName === "" ? null : firstName,
						MiddleName: middleName === "" ? null : middleName,
						LastName: lastName === "" ? null : lastName,
						FullName: `${initial} ${firstName} ${middleName} ${lastName}`.trim(),
						EmployeeCode: `${employeeNumberCode}`.trim(),
						 AlfaCode: `${employeeStringCode}`===""?null:`${employeeStringCode}`,
						AlfaEmployeeCode: `${employeeStringCode}${employeeNumberCode}`.trim(),
						DateOfJoining: dateOfJoining === "" ? null : dateOfJoining,
						BranchId: branch === "" ? null : branch,
						GradeId: grade === "" ? null : grade,
						ShiftMasterId: shift === "" ? null : shift,
						DesignationId: designation === "" ? null : designation,
						GrossSalary: grossSalary === "" ? null : grossSalary,
						CategoryId: category === "" ? null : category,
						BasicSalary: basicSalary==""?null:basicSalary,
						DepartmentId: department === "" ? null : department,
						EmployeeTypeId: employeeType === "" ? null : employeeType,
						DateOfBirth: dateOfBirth === "" ? null : dateOfBirth,
						RoleId: RoleId === "" ? 0 : RoleId,
						LoginAlias: loginAlias === "" ? null : `${loginAlias}${domainName}`,
							AttendanceLimit: attendanceLimit === "" ? null : parseInt(attendanceLimit),

						//Password: password,
						 ReportingManagerId:reportingManager==""? null:reportingManager,
						Pt: pt === "" ? false : pt,
						IsPFApplicable:isPFApplicable,
						// Default values for properties not present in the JavaScript object


						CreatedBy: null,
						UpdatedBy: `${UserId}`,

						EmployeeProfileUrl: null,
						EmployeeSignatureUrl: null,
						WeekOffDetailsId:weekOfAssignId==""?null:weekOfAssignId,
						IsPermissionPunchInOut:checkInOut,
						Probation:probation

						
					};
					
			// Send data to server using AJAX
				$.ajax({
					url: '@baseUrl/EmployeeMasterAPI/UpdateBasicInfo',
					type: 'POST',
					contentType: 'application/json',
					data: JSON.stringify(employeeData),
					success: function(response) {
						if (response.isSuccess) {
						round_success_noti(response.responseMessage);
								 // loadEmployeeRecords();
								   

						} else {
							round_error_noti(response.responseMessage);

						}
						  hideBtnLoder();
					},
					error: function(xhr, status, error) {
							  hideBtnLoder();

						console.error('Error:', error);

					}
				});

		});

		

		async function loadBindbusinessSegmentOption() {

		try {
			const response = await fetch('@baseUrl/BusinessSegmentAPI/GetAllBusinessSegments', {
				method: 'GET',
				headers: {
					'Accept': 'application/json'
				}
			});

			const data = await response.json();

			if (data.isSuccess) {

				var arrayDta=data.data;
				 var dropdowns = $('#businessSegment');
							dropdowns.empty();
							dropdowns.append(
								$('<option>', {
								value: '',
								text: 'Select',
								selected: true,
								disabled: true
								})
							);

							$.each(data.data, function(index, x) {
									dropdowns.append($('<option >', {
									value: x.businessSegmentId,
									text: x.businessSegmentName
								}));
							});
			}
		} catch (error) {
			console.error('Fetch error:', error);
		}
	}


</script>

<script>
		let cropper;
	let selectedFile;
	let profileFile = null;
	let currentCropTarget = 'profile'; // default target

	// Trigger file input
	$('#profileImage').click(() => {
		currentCropTarget = 'profile';
		$('#profileInput').click();
	});

	// File selected
	$('#profileInput').change(function () {
		const file = this.files[0];
		if (!file) {
			alert("Only JPG files are allowed.");
			return;
		}
		if (!file.name.toLowerCase().endsWith(".jpg") && !file.name.toLowerCase().endsWith(".jpeg")) {
			alert("Only JPG and JPEG files are allowed.");
			return;
	   }


		selectedFile = file;
		const reader = new FileReader();
		reader.onload = function (e) {
			$('#cropImagePreview').attr('src', e.target.result);
			$('#cropImagePreview').on('load', function () {
				initCropper();
			});

			const modal = new bootstrap.Modal(document.getElementById('cropModal'));
			modal.show();
		};
		reader.readAsDataURL(file);
	});

	// Initialize Cropper
	function initCropper() {
		const image = document.getElementById('cropImagePreview');
		if (cropper) cropper.destroy();

		cropper = new Cropper(image, {
			aspectRatio: 1,
			viewMode: 1,
			autoCropArea: 1
		});
	}

	// Destroy cropper on modal close
	$('#cropModal').on('hidden.bs.modal', function () {
		if (cropper) {
			cropper.destroy();
			cropper = null;
		}

	});

	// Confirm Crop
	$('#cropConfirmBtn').click(function () {
		if (!cropper) {
			alert("Cropper not initialized.");
			return;
		}

		const canvas = cropper.getCroppedCanvas({ width: 150, height: 150 });

		canvas.toBlob(function (blob) {
			const croppedFile = new File([blob], selectedFile.name, {
				type: "image/jpeg",
				lastModified: Date.now()
			});

			const previewURL = URL.createObjectURL(croppedFile);
			$('#profileImage').attr('src', previewURL);
			profileFile = croppedFile;
			$("#uploadBtnTag").show();
			bootstrap.Modal.getInstance(document.getElementById('cropModal')).hide();
		}, "image/jpeg");
	});

	// Upload Cropped Image
	$("#btnUpload").click(() => {
		$("#btnUpload").prop("disabled", true);

		if (!profileFile) {
			round_error_noti("Please select and crop an image first!");
			$("#btnUpload").prop("disabled", false);
			return;
		}

		const profileFormdata = new FormData();
		profileFormdata.append("EmployeeId", CurrentEmployeeId); // Make sure employeeId is defined
		profileFormdata.append("EmployeeProfileFile", profileFile);

		$.ajax({
			url: '@baseUrl/ProfileManageAPI/UpdateProfilePic', // Replace with your actual endpoint
			type: 'POST',
			data: profileFormdata,
			processData: false,
			contentType: false,
			success: function (response) {
				if (response.isSuccess) {
					const employee = response.data;
					const imageUrl = employee.employeeProfileUrl ;
					if(imageUrl){
						$('#profileImage').attr('src', imageUrl);
						$("#uploadBtnTag").hide();

					   round_success_noti(response.responseMessage);
					  $('.profileImage').attr('src', imageUrl);
					}
				} else {
					round_error_noti(response.responseMessage);
				}
				$("#btnUpload").prop("disabled", false);
			},
			error: function (xhr, status, error) {
				$("#btnUpload").prop("disabled", false);
			}
		});
	});


</script>

  <script>
			const tabMap = {
		"EmployeePersonalInfo": "@Url.Action("EmployeeInfo", "PartialView")",
		"Contact": "@Url.Action("Contact", "PartialView")",
		"EmergencyContacts": "@Url.Action("EmergencyContact", "PartialView")",
		"ReportingContract": "@Url.Action("Reporting", "PartialView")",
		"Attachments": "@Url.Action("Attachments", "PartialView")",
		"Allowance": "@Url.Action("Allowance", "PartialView")",
		"Salary": "@Url.Action("Salary", "PartialView")"
	};

	$(document).ready(function () {
		// Load only the first tab on page load
		loadPartialView('EmployeePersonalInfo');
		$('#EmployeePersonalInfo').removeClass('d-none');

		// Handle tab click
		$('.nav-link').on('click', function (e) {
			e.preventDefault();
			$('.nav-link').removeClass('active');
			$(this).addClass('active');

			let text = $(this).text().trim();
			let idMap = {
				"Employee Personal Info": "EmployeePersonalInfo",
				"Contact": "Contact",
				"Emergency Contact(s)": "EmergencyContacts",
				"Reporting & Contract": "ReportingContract",
				"Attachments": "Attachments",
				"Allowance": "Allowance",
				"Salary": "Salary"
			};

			let targetId = idMap[text];
			if (!targetId) return;

			$('.partial-section').addClass('d-none');
			$('#' + targetId).removeClass('d-none');

			// Load the partial view if not already loaded
			if ($('#' + targetId).html().trim() === '') {
				loadPartialView(targetId);
			}

			
		});
	});

	function loadPartialView(key) {
		$('#' + key).html('<div class="text-center p-3"><div class="spinner-border text-primary" role="status"><span class="visually-hidden">Loading...</span></div></div>');

		$.get(tabMap[key], function (response) {
			$('#' + key).html(response);

			
		});
	}

	$(document).ready(function () {
	  $('#viewEmployeeHistroy').on('click', function () {
		const baseUIOrginUrl = window.location.origin;
		window.location.href = baseUIOrginUrl + '/EmployeeMaster/EmployeeHistory';

	  });
	});

</script> 
 
